<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!DOCTYPE html>
  <html>
  <head>
  <style>
  img {
    max-width: 100%;
    height: auto;
  }
  </style>
  </head>
  <body>
  <img src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_CMYK_Green.png" alt="Cinque Terre" width="200" height="200">
  </body>
  </html>
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink] = "['/home']" routerLinkActive = "router-link-active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink] = "['/search']" routerLinkActive = "router-link-active">Search Artist Name</a>
        </li>

      </ul>

    </div>
  </div>
</nav>
<!DOCTYPE html>
<html>
<head>
<style>
img {
  max-width: 100%;
  height: auto;
}
</style>
</head>
<body>
  <style>
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    </style>
<img src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_CMYK_Green.png" alt="Cinque Terre" width="500" height="300">
</body>
</html>
