<style>
  pre {text-align: center;}
  h3 {text-align: center;}
  p {text-align: center;}
  img {text-align: center};
</style>
<h3>What is Spotify?</h3>
<pre>Spotify transformed music listening forever when it launched in 2008. Discover, manage and share over 100 million tracks and 5 million podcasts titles, for free,
  or upgrade to Spotify Premium to access exclusive features for music including improved sound quality and an on-demand, offline, and ad-free music listening
  experience. Today, Spotify is the world's most popular audio streaming subscription service with 489 million users, including 205 million subscribers in more than
  180 markets.</pre>
<h3>How to use?</h3>
<pre>1. Run the app.
  2. Click on "Search Artist Name" at the top bar.
  3. Click on the text box and start searching.
  4. Click the Submit button.
</pre>
<h3>Spotify Premium Packages</h3>
<p><a href="https://www.spotify.com/my-en/premium/?utm_source=my-en_brand_contextual_text&utm_medium=paidsearch&utm_campaign=alwayson_asia_my_premiumbusiness_lowsubintent_brand+contextual+text+exact+my-en+google&gclid=CjwKCAiAjPyfBhBMEiwAB2CCIpmT0g4L-YwTF6IbVbMJZ5AAgFpuznGP9qUCdMampB9bv7IPzygJWRoC43UQAvD_BwE&gclsrc=aw.ds#plans"target="_blank">Click here for Spotify Premium Packages</a></p>
<h3>Scan to download Spotify</h3>
<div class="center"><img class="img-responsive" src="assets/images/qrcode_www.spotify.com.png"></div>
